@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=El+Messiri:wght@500&display=swap" rel="stylesheet');

body {
    background-image: url("../assets/Images/bg_image.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

}

.btn-first {
    height: 44px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 600;
    font-family: 'El Messiri', sans-serif;
    display: inline-block;
    line-height: 0px;
    text-align: center;

}

.btn-first:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

.title {
    font-family: 'Arizonia', cursive;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}