DML_tabella_prodotto.sql
Rutual products.txt
Media/ahtziri-lagarde-BM8-NSCj9yA-unsplash.jpg
Media/ahtziri-lagarde-fwWNzqif624-unsplash.jpg
Media/chaji.jpg
Media/chakai.jpg
Media/kelsen-fernandes-HObTmn27Y6Q-unsplash.jpg
Media/matcha.jpg
Media/oriento-gy_DN08336U-unsplash.jpg
Media/sushi-g13e709b65_640.jpg
Media/vicky-ng-bcPzSVSpN7g-unsplash.jpg
Media/Food/big-mix.jpg
Media/Food/gunkan-mix.jpg
Media/Food/gunkan.jpg
Media/Food/hosomaki-fantasy.jpg
Media/Food/nigiri-mix.jpg
Media/Food/onigiri.jpg
Media/Food/salmon-hosomaki.jpg
Media/Food/salmon-roll.jpg
Media/Food/salmon-tartare.jpg
Media/Food/simple-mix.jpg
Media/Food/sushi-balls.jpg
Media/Food/takoyaki.jpg
Media/Food/tuna-slice.jpg
Media/Food/uramaki-mix.jpg
Media/Food/uramaki-special.jpg
Media/Food/vegetarian.jpg
Media/Food/wakame-salad.jpg
Media/Food/Bevande/adonis.jpg
Media/Food/Bevande/analcohlic-drink.jpg
Media/Food/Bevande/asahi-bber.png
Media/Food/Bevande/birra-kirin-ichiban.jpg
Media/Food/Bevande/Coca-Cola-Japan-Saitama-Edition.jpg
Media/Food/Bevande/ferrarelle-mineral.jpg
Media/Food/Bevande/gin-tonic.jpg
Media/Food/Bevande/japanese-martini.jpg
Media/Food/Bevande/Japanese-Sake.jpg
Media/Food/Bevande/japanese-whisky.jpg
Media/Food/Bevande/kimura-ramune.jpg
Media/Food/Bevande/lemon-water.jpg
Media/Food/Bevande/moscow-mule.jpg
Media/Food/Bevande/natural-water.jpg
Media/Food/Bevande/sapporo-black.png
Media/Food/Bevande/sapporo-vetro.jpg
Media/Food/Bevande/shochu-cocktail.jpg
Media/Food/Bevande/umeshu-wine.jpg
Media/Food/Bevande/yu-sushi-sparkling-cuvee-brut.jpg
Media/Food/Bevande/Yuzu-Shu-cocktail.jpg
ritualbe/src/main/resources/application.properties
